<?xml version="1.0"?>
<config>
    <modules>
        <Boraso_DateBasedDiscountRules>
            <version>0.1.0</version>
        </Boraso_DateBasedDiscountRules>
    </modules>
    <global>
        <models>
            <boraso_datebaseddiscountrules>
                <class>Boraso_DateBasedDiscountRules_Model</class>
                <resourceModel>boraso_datebaseddiscountrules_resource</resourceModel>
            </boraso_datebaseddiscountrules>
        </models>
        <blocks>
            <boraso_datebaseddiscountrules>
                <class>Boraso_DateBasedDiscountRules_Block</class>
            </boraso_datebaseddiscountrules>
        </blocks>
        <helpers>
            <boraso_datebaseddiscountrules>
                <class>Boraso_DateBasedDiscountRules_Helper</class>
            </boraso_datebaseddiscountrules>
        </helpers>

        <events>
            <catalogrule_apply_all_before>
                <observers>
                    <boraso_datebaseddiscountrules_catalogrule_apply_all_before_observer>
                        <type>singleton</type>
                        <class>boraso_datebaseddiscountrules/observer</class>
                        <method>run</method>
                    </boraso_datebaseddiscountrules_catalogrule_apply_all_before_observer>
                </observers>
            </catalogrule_apply_all_before>
        </events>

    </global>

    <default>
        <boraso_datebaseddiscountrules>
            <settings>
                <modenabled>1</modenabled>
            </settings>
        </boraso_datebaseddiscountrules>
    </default>
</config>
